*{
    margin-left: 10px;
}
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
}
.divh {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header{
    color: #FFF;
    font-family: Merriweather;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .first{
    font-size: 32px;
    font-weight: 400;
  }
  .second{
    font-size: 72px;
    font-weight: 900;
  }
.page1{
    
}
.page2-text{
    text-align: center;
}
.off{
    font-size: 88px;
    font-weight: 700;
}
.holiday{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.category{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .img{
   background-image: linear-gradient(relative);
  }
.page3{
  margin-top: 5px;
  display: flex;
  position: relative;
}
.contant{
  background-image: url(resources/Vectorrr.png);
  padding: 120px 500px 300px 120px;
background-repeat: no-repeat;
margin-top: 120px;


}

.page3 .contant h1{
  width: 642px;
  color: #FFF;

font-family: Merriweather;
font-size: 64px;
}
.page3 .contant p{
  color: #FFF;

  color: rgba(255, 255, 255, 0.80);

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
button{
  padding: 10px;
  background-color: rgba(204, 14, 14, 0.438);
  border: none;
  font-size: 20px;
  font-color: #f30b0b;
}
button:hover{
  background-color: rgb(86, 223, 23);
}
.page4 .page4-text{
  text-align: center;
  background-color: rgba(202, 228, 228, 0.548);
  padding: 100px 380px 200px 380px;
}
.span{
  color: #F00;
}
.span{
  color: #F00;
  font-family: Inter;
font-size: 32px;
font-weight: 600;
}
.page4 .page4-text h2{
  color: #070211;
font-family: Inter;
font-size: 32px;
font-weight: 600;
}
.img-page3{
right: 170px;
  position: absolute;
  top: 200px;
  
}
.page5 div h2{
  color: #F00;
  font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.page5 div h1{
  color: #070211;

font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.page5 div p{
  color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.5img:hover{
  border: rgb(36, 33, 33) 2px;
}

.imgp6{
  position: relative;
  margin-top: 100px;
  margin-left: 45%;
}
.page6{
  background-color: rgba(255, 0, 0, 0.116);
  padding-bottom: 100px;
  margin: 50px 75px 10px 75px;
}
.page6 h1{
  color: #070211;

text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.page6 p{
  color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.page6 input{
  padding: 14px;
}
#label{
  align-items: center;
  border:  15px 50px 30px 5px;;
  margin-left: 27%;
  gap: 0px;
}
.p6{
  border-radius: 0px 50px 50px 0px;
}
input{
  width: 500px;
height: 15px;
border: none;
}
.page5-pic{
  display: flex;
}


.footer-text{
  text-decoration-line: none;
  text-align: justify;
}
.Big{
  color: #FFF;

font-family: Inter;
font-size: 24px;
  width: 50%;
  float: left;
  margin-left: 150px;
 
}
.nmbr{
  color: #FFF;

font-family: Inter;
font-size: 24px;
  margin-right: 175px;
  float: right;
  
}
.footer-img{
  display: flex;
  align-items: center;
  margin: 100px;
  margin-left: 37%;
}
hr{
  width: 70%;
  align-items: center;
  margin-left: 200px;
}
.footer,.footer-last{
  background: #070211;
}
.all{
  width: 50%;
  float: left;
}
.un{
  width: 50%;
  float: right;
}